table.aws_sqs_api_queue_list td.overridden {
  font-style: italic;
}
table.aws_sqs_api_queue_list tbody tr {
  background-position: 5px 50%;
  background-repeat: no-repeat;
}
table.aws_sqs_api_queue_list tr.unconfigured {
  background-color: #fdf8ed;
  background-image: url(/core/misc/icons/e29700/warning.svg);
  color: #734c00;
}
table.aws_sqs_api_queue_list tr.misconfigured {
  background-color: rgb(252, 244, 242);
  background-image: url(/core/misc/icons/e32700/error.svg);
  color: rgb(165, 27, 0);
}
table.aws_sqs_api_queue_list tr>*:first-child {
  padding-left: 25px;
}
#edit-region .form-item-region,
#edit-region input {
  display: inline;
  margin: 0;
}
#edit-region input {
  margin-left: 10px;
}
